
.footer{
  display:block;
  /* position:absolute; */
  bottom:0;
  width:100%;
  min-height:100px;
  padding:0;
  margin:0;
  border:0;
  z-index:-1;
}
.footer,
.footer *{
  font-size:14px;
}
.footer > ul,
.footer > ul > li{
  list-style:none;
  margin:0;
  padding:0;
}

.footer > ul > li{
  padding:0;
  margin:0;
  border:0;
}
.footer > ul > li > a{
  display:inline-block;
  height:100%;
  margin:0;
  text-decoration:none;
}

.footer .copyright{
  display:block;
  width:100%;
  margin:0;
  padding:0;
  border:0;
  text-align:center;
  
}


.footer img,
.footer svg{
  width:16px;
  height:16px;
  vertical-align:middle;
}


@media (max-width: 499px) {
  .footer > ul{
    display: block;
  }
  .footer > ul > li{
    display:block;
    height:40px;
    line-height:40px;
    border-bottom:1px solid white;
  }
  .footer > ul > li > a{
    padding:0 10px;
  }
  .footer .copyright{
    height:40px;
    line-height:40px;
    margin-bottom:0px;
  }
}
@media (min-width: 500px) {
  .footer > ul{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .footer > ul > li{
    display:inline-block;
  }
  .footer > ul > li > a{
    padding:20px 10px;
  }
  .footer .copyright{
    margin-bottom:10px;
  }

  
  .footer > ul > li > a{
    position         : relative;
  }
  .footer > ul > li.active > a:before{
    content          : "";
    position         : absolute;
    bottom           : 12px;
    width            : 95%;
    height           : 2px;
    background-color : #A9D943;
    margin-left      : -4px;
  }
  .footer > ul > li > a:hover:before{
    content          : "";
    position         : absolute;
    bottom           : 12px;
    height           : 2px;
    background-color : white;
    margin-left      : -4px;
    animation        : list-mouseover 0.2s linear forwards;
  }
  .footer > ul > li.active > a:hover:before{
    animation        : none;
  }

}

